@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoomIn 0.3s ease-out forwards;
}